.wrapp__back {
	padding: 20px 0;
	border-bottom: 1px solid #fff;
}
.back__link {
	display: inline-flex;
	gap: 5px;
	align-items: center;
	font-size: 20px;
	transition: 150ms all;
	&:hover {
		color: #5f828d;
	}
}

.details {
}
.back__link {
}
.body {
	display: flex;
	gap: 40px;
	padding: 50px 0;
	border-bottom: 1px solid #fff;
}
.wrapp__img {
	flex-shrink: 0;
	display: block;
	position: relative;
	height: 550px;
	width: 350px;
	background-color: #5f828d;
	overflow: hidden;
	img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.wrapp__content {
}
.title {
	font-size: 42px;
	margin-bottom: 20px;
	color: #5f828d;
	span {
	}
}
.subtitle {
	font-size: 32px;
	margin-bottom: 10px;
	color: #5f828d;
}
.text {
	font-size: 20px;
}
.overview {
	margin-bottom: 20px;
}
.genres {
}
.info__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}
.genres__list {
	display: flex;
	gap: 15px;
	li {
		background-color: #43484e;
		padding: 7px 10px;
	}
}

.more__list {
	padding: 40px 0;
	display: flex;
	.nav__link {
		font-size: 20px;
		display: block;
		padding: 10px 15px;
		background-color: #43484e;
	}
	.active {
		background-color: #5f828d;
	}
}
