.reviews {
}
.reviews__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 30px;
}
.found {
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200px;
	color: #5f828d;
}
