.item {
	transition: 150ms box-shadow;
	box-shadow:
		0 4px 12px rgba(0, 0, 0, 0.2),
		0 16px 20px rgba(0, 0, 0, 0.2);
	&:hover {
		box-shadow: 0 4px 20px rgba(97, 111, 114, 0.35);
	}
}
.wrapp {
	display: block;
	position: relative;
	padding-top: 140%;
	width: 100%;
	background-color: #5f828d;
	overflow: hidden;
	img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.link {
}
.info {
	padding: 10px;
	background-color: #43484e;
}
.title {
	font-size: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
