.item {
	transition: 150ms box-shadow;
	box-shadow:
		0 4px 12px rgba(0, 0, 0, 0.2),
		0 16px 20px rgba(0, 0, 0, 0.2);
	&:hover {
		box-shadow: 0 4px 20px rgba(97, 111, 114, 0.35);
	}
}
.details {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	p {
		background-color: #43484e;
		border-radius: 10px;
		padding: 5px 7px;
		line-height: 1;
		display: flex;
		gap: 5px;
	}
}
.description {
	background: rgba(97, 111, 114, 0.35);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.4px);
	-webkit-backdrop-filter: blur(6.4px);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	transition: 200ms transform;
	height: 35%;
	transform: translateY(100%);
	p {
		margin: 10px;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.link:hover .description {
	transform: translateY(0);
}
.wrapp {
	display: block;
	position: relative;
	padding-top: 140%;
	width: 100%;
	overflow: hidden;
	background-color: #5f828d;
	img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.link {
	position: relative;
}
.info {
	padding: 10px;
	background-color: #43484e;
}
.title {
	font-size: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
