.item {
	display: flex;
	gap: 20px;
	background: rgba(97, 111, 114, 0.35);
	padding: 20px;
	border-radius: 10px;
}
.wrapp__img {
	flex-shrink: 0;
	position: relative;
	background-color: #4d4b4b;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.user {
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 80%;
	height: 80%;
}
.info {
}
.author {
	margin-bottom: 15px;
	font-size: 20px;
	color: #85a6b1;
	span {
		font-weight: 700;
	}
}
.text {
}
