.cast__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	padding: 0 0 10px 0;
}

/* --------- Adaptive tablet (768px) --------- */

@media screen and (min-width: 768px) {
	.cast__list {
		grid-template-columns: repeat(4, 1fr);
		padding: 0 0 15px 0;
	}
}

/* --------- Adaptive desktop (1152px) --------- */

@media screen and (min-width: 1152px) {
	.cast__list {
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
		padding: 0 0 20px 0;
	}
}

/* --------- Adaptive desktop (1440px) --------- */

@media screen and (min-width: 1440px) {
	.cast__list {
		grid-template-columns: repeat(7, 1fr);
		padding: 0 0 30px 0;
	}
}

/* --------- Adaptive desktop (1920px) --------- */

@media screen and (min-width: 1920px) {
	.cast__list {
		grid-template-columns: repeat(8, 1fr);
		gap: 25px;
	}
}
